

/* ==========================================================================
   Structure
   ========================================================================== */

$maxWidth: 700px;

.row {
	max-width: $maxWidth;
	margin: auto;
	padding-left: 1em;
	padding-right: 1em;

	@media only screen and (max-width: 800px) {
		padding-left: 0.75em;
		padding-right: 0.75em;
	}
}

header {
	padding-bottom: 25px;
	padding-top: 10px;
}


footer {
}



.headshot img {
	margin: 0px auto;
	width: 200px;
	display: block;
}

ul {
	margin-left: 0; 
	padding-left: 0;

	@media only screen and (max-width: 800px) {
		padding-left: 0.5em;
	}
}

.center {
	margin:auto;
	display: block;
}

.footer-copy {
	padding-top: 25px;
	padding-bottom: 25px;
	@media only screen and (max-width: 500px) {
		padding-top: 5px;
	}
}

.contact-badges {
	padding-top: 15px;
	float: right;
	clear: right;

	@media only screen and (max-width: 500px) {
		float: none;			
	}
}


/* ==========================================================================
   Typography
   ========================================================================== */


$baseFontSize: 19pt;
$lineHeight: 1.4;

body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: $baseFontSize;
	line-height: $lineHeight;
	font-weight: lighter;
}

b,em {
	font-weight: normal;
}

p {
	margin-top: 0;
	margin-bottom: 0.75em;
}


h1 {
	font-size: 24pt;
	font-weight: normal !important;
	font-style: italic;
}

.intro {
	font-size: 21pt;
}


h2 {
	margin-bottom: 0.25em;
	margin-top: 1.5em;
	font-size: 28pt;
	font-weight: normal;
	font-style: italic;

	@media only screen and (max-width: 800px) {
		font-size: 18pt;
	}
}

.salutation {
	text-align: center;
	font-size: 12pt;
}

footer {
	font-size: 16pt;
	font-weight: normal;
}

.strike {
	text-decoration: line-through;
}

/* ==========================================================================
   Color
   ========================================================================== */

// https://kuler.adobe.com/Orange-and-Gray-Reflex-color-theme-118977/

$backgroundColor: #FAF9F7;
$textColor: #4D4A4C;
$questionColor: #FC4F08;
$footerColor: #C9C5C2;
$linkColor: #FF9230;

body {
	background-color:$backgroundColor;
	color:$textColor;
}

footer {
	background-color: #4D4A4C;
	color: $backgroundColor;
}

h1 {

}

h2 {
	color: $questionColor;
}

a {
	color: $linkColor;
}



/* ==========================================================================
   Content
   ========================================================================== */


h2 {
	background-image: url('../img/qa.png');
	background-repeat: no-repeat;
	padding-left: 50px;
	position: relative;
	background-position: 0% 72%;
	left: -50px;

	@media only screen and (max-width: 800px) {
		left: 0px;
		background-position: 50% 0%;
		padding-left: 0px;
		padding-top: 50px;
		text-align: center;
	}

}


