---
layout: default
---

{% capture intro %}{% include intro.md %}{% endcapture %}
{% capture footer %}{% include footer.md %}{% endcapture %}

<header>
	<div class="row">
		<div class="salutation">
		<div class="headshot">
			<img src="img/profile.png">
		</div>
		<h1>Hello, I'm Joel Carranza. Nice to meet you</h1>
		</div>
	</div>
</header>

<div class="row">
	<div class="intro">
		{{ intro | markdownify }}
	</div>
</div>

<div class="row">
	<img src="img/faq-hr.png" class="center">
</div>

<div class="row">
	<div class="qa">
	{{content}}
	</div>
</div>

<footer>
	<div class="row">
		<div class="contact-badges">
			<a href="mailto:joel@joelcarranza.com"><img src="img/email.png"></a>
			<a href="https://twitter.com/_thedudeabides_/"><img src="img/twitter.png"></a>
		</div>

		<div class="footer-copy">
			{{ footer | markdownify }}
		</div>
	</div>
</footer>
