/* typography */

body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.9rem;
  max-width: 800px;
  margin: auto;
  font-size: 14pt;

  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

.subtitle {
  font-size: 16pt;
  font-style: italic;  
}

h1 {
  font-size: 1em;
}

h2, h3, h4 {
  font-size: 16pt;
}

section#content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.article-metadata {
  margin: 2em;
  text-align: center;
}

p.image-process-default img {
  width: 100%;
}

p.image-process-ios-icon {
  margin: auto;
  width: 256px;
}

p.image-process-ios-icon img {
  width: 256px;
}

p.image-process-ios-screenshot {
  display: inline;
}

p.image-process-ios-screenshot img {
  margin: 0.3em;
  width: 225px;
}

figcaption {
  text-align: center;
}

/* colors */

body {
  background-color: white;
  color: black;
}

h1, h2, h3 {
  color: black;
}

a {
  color: #954a00;
}

.subtitle {
  color: gray;
}


blockquote {
  color: gray;
  font-size: 125%;
}

.article-metadata {
  color: gray;
}

/* header */

header {
  margin-top: 1rem;
  padding: 0.1rem;
}

nav ul {
  margin: 0;
  padding: 0;

}

nav ul li {
  display:inline;
  margin-left: 1rem;
}

nav ul li:nth-child(1) {
  margin-left: 0rem;
}

li.active {
  font-weight: bold;
}

/* footer */


footer {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  font-size: 12pt;
  display: flex;
}


footer .links {
  flex-grow: 1;
  margin: 1em;
}

.links ul {
    margin-top: 0.5rem;
}

.links h2 {
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}


div.index time.published {
  display: inline-block;
  margin-right: 1em;
}